# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
+ List of popular languages for Data Science
+ List of used libraries used by Data Scientists
+ A table of some Data Scientists  tools
+ Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. Scikit-learn
4. Matplotlib

|Data Science Tools|
|------------------|
|MySQL|
|Hue|
|TensorFlow Lite|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
def minutes_to_hours(minutes):
    # This will convert 200 minutes to hours by diving by 60
    return minutes/60
print(f"{minutes_to_hours(200):0.2f}")

3.33

## Author: Emad Alhaddad